# Python
backend/venv/
backend/__pycache__/
backend/*.pyc
backend/.env
backend/alembic/versions/*.pyc

# Node
frontend/node_modules/
frontend/dist/
frontend/.pnpm-store/

# IDE
.vscode/
.idea/

# OS
.DS_Store

# Docker
postgres_data/